$primary-bg-color: #FFFFFF;
$secondary-bg-color: #13183F;
$accent-gradient: linear-gradient(#FF6F48, #F02AA6);
$secondary-gradient: linear-gradient(#FFFFFF, #F0F1FF);
$primary-text-color: #83869A;
$secondary-text-color: #FFFFFF;
$title-text-color: #13183F;
$accent-text-color: #F74780;
$font: Plus Jakarta Sans, sans-serif;